<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found</title>
</head>
<body>
    <h1>Sorry</h1>
    <h2>Page doesn't exist</h2>
    <h3>Try another link or head over to <a href="/market">the market</a></h3>
</body>
</html>