:root {
    --buttonVisible: hidden;
}
nav {
    background-color:aliceblue;
}

textarea {
    width: 600px;
    height: 250px;
}
.col-sm {
    margin-left: 10px;
}
.searchInputContainer {
    background-color: white;
    margin-top: 10px;
    border: 2px solid coral;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.searchInput {
    width: 100%;
    border: none;
    border-radius: 7px 0px 0px 7px;
}

.searchInput:focus {
    width: 100%;
    border: none;
    outline: none;
}

.searchProductSubmit {
    border: none;
    width: 40px;
    margin-right: 20px;
}

.searchImageHandler {
    height: 100%;
    padding: 5px;
    border-radius: 0px 7px 7px 0px;
}

.searchImageHandler:hover {
    background-color:lightgrey;
}
.searchImageHandler:active {
    background-color:grey;
}

.switch {
    display: flex;
    flex-direction: row;
}
.dropdown-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.dropdown-list {
    padding: 0;
    margin: 0;
    width: 100%;
}

.productList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid orange;
    border-radius: 1px;
    padding-top: 2%;
}
.marketItem {
    width: 300px;
    height: 300px;
    margin: 2%;
    text-align: center;
}
.marketItem:hover {
    border: 1px solid lightblue;
    --buttonVisible: visible;
}
.addToCart {
    visibility: var(--buttonVisible);
    border: none;
    border-radius: 5%;
}
#marketplace {
    background: black;
    color: white;
    border:none;
    border-radius: 20px 20px 0px 0px;
}

#create-product {
    background: skyblue;
    color: white;
    border: none;
    border-radius: 20px 20px 0px 0px;
    
}

#load-user {
    background: coral;
    color: white;
    border:none;
    border-radius: 20px 20px 0px 0px;
}
.productForm {
    margin-top: 10%;
}
#productFormTitle {
    margin-top: 5%;
}

.linkButton {
    height: 30px;
    padding: 5px;
    text-align:center;
    background-color:coral;
    color: white;
    text-decoration: none;
    border: none;
}

.linkButton:hover {
    background-color: rgba(255, 127, 80, 0.678);
    color: white;
}

.formSubmit {
    background-color:coral;
    color: white;
    text-decoration: none;
    border: none;
    padding: 5px;
}
.formSubmit:hover {
    background-color: rgba(255, 127, 80, 0.678);
}


#pwordChange {
    visibility: hidden;
}

#pwordChangeButton {
    visibility: visible;
}